# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [1]:
# Reading the data
import pandas as pd
vih_data = pd.read_csv("file1.csv")
# Check the number of columns and raws
vih_data.shape

(4008, 11)

In [2]:
# Check the data types of each column
vih_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   1071 non-null   object
 1   ST                         1071 non-null   object
 2   GENDER                     954 non-null    object
 3   Education                  1071 non-null   object
 4   Customer Lifetime Value    1068 non-null   object
 5   Income                     1071 non-null   float64
 6   Monthly Premium Auto       1071 non-null   float64
 7   Number of Open Complaints  1071 non-null   object
 8   Policy Type                1071 non-null   object
 9   Vehicle Class              1071 non-null   object
 10  Total Claim Amount         1071 non-null   float64
dtypes: float64(3), object(8)
memory usage: 344.6+ KB

I suggest the data type of customer life time value and number of open compliants must be changed to numeric /float/ data type.

In [3]:
# Check unique values of each column
vih_data.nunique()

Customer                     1071
ST                              8
GENDER                          5
Education                       6
Customer Lifetime Value      1027
Income                        774
Monthly Premium Auto          132
Number of Open Complaints       6
Policy Type                     3
Vehicle Class                   6
Total Claim Amount            761
dtype: int64

In [4]:
vih_data.head(2)

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935

In [5]:
# Selecting only catagorical variables/columns and display how many unique values
vich_cat_ = vih_data[['ST','GENDER','Education','Policy Type','Vehicle Class']]
for col in vich_cat_:
    print()
    print(vich_cat_[col].value_counts())

Oregon        320
California    211
Arizona       186
Cali          120
Nevada         98
Washington     81
WA             30
AZ             25
Name: ST, dtype: int64

F         457
M         413
Male       39
female     28
Femal      17
Name: GENDER, dtype: int64

Bachelor                324
College                 313
High School or Below    296
Master                   94
Doctor                   37
Bachelors                 7
Name: Education, dtype: int64

Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: Policy Type, dtype: int64

Four-Door Car    576
Two-Door Car     205
SUV              199
Sports Car        57
Luxury SUV        20
Luxury Car        14
Name: Vehicle Class, dtype: int64

ST(State), Gender, Education, Policy Type and Vehicle Class are catagorical datatypes.From the above output we can simply see the 'GENDER' variable data points are not consistent and also in 'Education'. In the case of 'ST/State/' it looks like Washington and Arizona data points are also duplicated.There is same problem incase of 'Vehicle Class' variable too.

Customer, Customer life time value, Income, Monthly Premium Auto, Number of Open Complaints and Total claim Amount are numerical datatypes. As, we have already discribed above, the following three variables should be casted to numeric value, "Number of Open Complaints, Customer Lifetime Value, Customer".

In [14]:
# Check the range of values for each numerical columns
vich_num = vih_data[['Customer','Customer Lifetime Value','Income','Monthly Premium Auto','Number of Open Complaints','Total Claim Amount']]
col_ranges = vich_num.max() - vich_num.min()
col_ranges

Income                  99960.000000
Monthly Premium Auto    35293.000000
Total Claim Amount       2892.857571
dtype: float64

In [17]:
# Statstical summary for numerical variables/columns
vich_num_ = vih_data[['Customer','Customer Lifetime Value','Income','Monthly Premium Auto','Number of Open Complaints','Total Claim Amount']]
vich_num_.describe()

             Income  Monthly Premium Auto  Total Claim Amount
count   1071.000000           1071.000000         1071.000000
mean   39295.701214            193.234360          404.986909
std    30469.427060           1601.190369          293.027260
min        0.000000             61.000000            0.382107
25%    14072.000000             68.000000          202.157702
50%    36234.000000             83.000000          354.729129
75%    64631.000000            109.500000          532.800000
max    99960.000000          35354.000000         2893.239678

When we see the mean value with the min and max of the Income variable it is seen that there are extreme values/ outliers. That is why the mean is higher than the median value. Also, when we came to "Monthly premium auto" there is a huge gap between the mean and median value that implies that there are outliers, and on the other hand Total Claim Amount seems like the same kind of trained with the other two but the gap between the mean and median value is not that significant.

In [18]:
# Statstical summary for catagorical variables
vich_cat_ = vih_data[['ST','GENDER','Education','Policy Type','Vehicle Class']]
vich_cat_.describe(include="object")

            ST GENDER Education    Policy Type  Vehicle Class
count     1071    954      1071           1071           1071
unique       8      5         6              3              6
top     Oregon      F  Bachelor  Personal Auto  Four-Door Car
freq       320    457       324            780            576

From the unique value of Gender, we can say that there is a duplication and Female customers are outnumbered the male customers. In addition to that we can see that most of the customers education level is Bachelor and there insurance policy type are personal auto which is Four door car vehicle class.

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [20]:
# Top 5 less common locations in ascending order
vich_cat_ = vih_data['ST']
ST_freq = (vich_cat_.value_counts()).tail(6)
ST_freq[:-1]

Arizona       186
Cali          120
Nevada         98
Washington     81
WA             30
Name: ST, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [21]:
# Policy sold ascending order
poli_sold = vih_data['Policy Type'].value_counts()
poli_sold

Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: Policy Type, dtype: int64

In [22]:
# Policy type by Income
poli_sold = vih_data[['Policy Type','Income']]
poli_sold_ = poli_sold.groupby(['Policy Type']).sum()
poli_sold_

                    Income
Policy Type
Corporate Auto   9685333.0
Personal Auto   29780945.0
Special Auto     2619418.0

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [23]:
# Average income between Personal Auto and Corporate Auto
poli_sold_avg = poli_sold.groupby(['Policy Type']).mean()
poli_sold_avg

                      Income
Policy Type
Corporate Auto  41390.311966
Personal Auto   38180.698718
Special Auto    45954.701754

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [ ]:
# Your code here